@model VentaMusical.Models.Entities.Song

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-7">
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header"><h3 class="text-center font-weight-light my-4">Editando canción</h3></div>
				<div class="card-body">
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="SongId" />

						<div class="row mb-3">
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input required asp-for="SongName" class="form-control" oninput="this.value = this.value.toUpperCase()" />
									<span asp-validation-for="SongName" class="text-danger"></span>
									<label for="UsuarioNombre">Canción</label>
								</div>
							</div>
						</div>

						<div class="mt-4 mb-0">
							<div class="d-grid"><input type="submit" value="Guardar Cambios" class="btn btn-primary btn-block" /></div>
						</div>
						<div>
							<a asp-action="Index">Regresar a la lista</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
